.home {
   display: flex;
   flex-direction: column;
}

.home-first,
.home-second,
.home-third {
   display: flex;
}

.home-first,
.home-third {
   background: rgba(128, 0, 128, 0.2);
}

.home-second {
   flex-direction: row-reverse;
   background-color: rgba(255, 204, 0, 0.2);
}

.home-img-1,
.home-img-2,
.home-img-3,
.home-content {
   width: 50%;
   height: 350px; /* Must specify a height */
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
}

.home-content {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.home-content > h1 {
   font-size: 1.25rem;
   border-bottom: 1px solid purple;
}

.home-content > p {
   text-align: left;
}



.home-img-1 {
   background-image: url("https://images.unsplash.com/photo-1592340067055-1e4675ac3c24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.home-img-2 {
   background-image: url("https://images.unsplash.com/photo-1456419753477-6950a7f45546?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80");
}

.home-img-3 {
   background-image: url("https://images.unsplash.com/photo-1616162205583-e9a75b8da695?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
}

.info {
  position: relative;
  bottom: 2px;
}

@media (max-width: 768px) {
   .home-img-1,
   .home-img-2,
   .home-img-3,
   .home-content {
      height: 250px;
   }
}
